$fontStack:    Helvetica, sans-serif;
$primaryColor: #333;
$fontSize16:16px;
body {
    font-family: $fontStack;
    font-size:$fontSize16;
    color:$primaryColor;
    background-color:#66bd89;
div{
    width:100px;
    }
span{
    display:inline-block;
    }
div{
    position:fixe;
    bottom:100px;

}

}
